check process unicorn_test with pidfile /home/deploy/seldy/test/current/tmp/pids/unicorn.pid
  start program = "/home/deploy/seldy/test/shared/config/init_unicorn.sh start" with timeout 120 seconds
  stop program = "/home/deploy/seldy/test/shared/config/init_unicorn.sh stop" with timeout 120 seconds
  if failed unixsocket /home/deploy/seldy/test/current/tmp/sockets/unicorn.sock protocol HTTP request "/?status" for 5 cycles then restart
  if 5 restarts within 5 cycles then timeout